# dependencies
/node_modules
/services/**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cursor specific
.cursor/

# Docker
docker-compose.override.yml

# Database
*.sql
/data

# System Files
Thumbs.db
desktop.ini 
